{% extends 'base.html' %}
{% load static %}


{% block title %}Fashion boutique{% endblock %}

{% block content %}
    <div>{{ data.range.rangename }}</div>

    {% for model in data.models %}
        <li><a href="{% url  'model_url' data.range.rangeid model.modelid %}">{{ model.modelname }} </a>
        <br>Цена: {{ model.price }} руб. <br> Производитель: {{ model.producer }}</li>
        <img src="{% static model.image  %}" height="200" alt="photo {{ model.modelid }}">
    {% empty %}
        <li>Список пуст. Раскуплено!</li>
    {% endfor %}
{% endblock %}



{% block button_back %}
    <input type="button" onclick="history.back();" value="Назад"/>
{% endblock %}

